.services {
     font: italic;
     background-color: #e7e7e7;
}
.story, .locations, .services {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    text-decoration: none;
}
a.hover {
    text-decoration: underline;
    color: #00376c;
}
header, footer {
    margin-bottom: 40px;
    text-align: center;
}
header {
    border-bottom: 6ex;
    border-color: #7b7b7b;
    line-height: 80px;
    background-color: #c7e3ff;
}
footer {
    font: italic;
    padding: 10px;
    background-color: #c7e3ff;
}
h2 {
    border-bottom: 2px;
    border-color: #7b7b7b;
    text-align: center;
}
h3 {
    color: #1577ff;
    border-bottom: 2px;
    text-align: center;
}
img {
    width: 150px;
}
body {
    width: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00376c;
    margin: auto;
}