.services {
     font: italic;
     background-color: #e7e7e7;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 15px;
     padding-right: 15px;
     margin-bottom: 40px;
}
.story {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}
.locations {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}
a.hover {
    text-decoration: none;
    color: #00376c;
}
header{
    border-bottom: 6ex;
    border-color: #7b7b7b;
    line-height: 80px;
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
}
footer {
    font: italic;
    padding: 10px;
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
}
h2 {
    border-bottom: 2px;
    border-color: #7b7b7b;
    text-align: center;
}
h3 {
    color: #1577ff;
    border-bottom: 2px;
    text-align: center;
}
img {
    width: 150px;
}
body {
    width: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00376c;
    margin: auto;
}